.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 767px) {
            justify-content: center;
        }
    }

    &__link {
        padding: 0.6rem var(--offset-s);

        @media(max-width: 500px) {
            @include padding-x(var(--offset-xxxs));
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--accent);
            }
        }
    }
}
